.filter-green{
  filter: invert(100%) sepia(1%) saturate(4993%) hue-rotate(301deg) brightness(81%) contrast(104%);
  top: .05em;
  position: relative;
}
* {
  box-sizing: border-box;
}

body {
  font-family: "Garamond";
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

/*===============BLOG=====================*/
* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  padding: 20px;
  background: #f1f1f1;
}

/* Header/Blog Title */
.header {
  padding: 30px;
  font-size: 40px;
  text-align: center;
  background: white;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}

/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Add a card effect for articles */
.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }
}

/*===============PARALLAX=====================*/

.parallax {
  /* The image used */
  background-image: url("images/cube_.jpg");
  border-radius: 12px;

  /* Set a specific height */
  min-height: 600px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
 
}

/*===============MENU=====================*/

html {
  scroll-behavior: smooth;
}

.topnav {
  overflow: hidden;
  background-color: rgb(211, 204, 204);
  border-radius: 12px;
}

.topnav a {
  float: left;
  color: black;
  font-weight: bold;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color:white;
  color: black;
}
/*===============A=====================*/
.list{
  background-color: rgb(211, 204, 204);
  border-radius: 12px;
  font-size:19px;
}
ul {
  list-style-type: none;
  padding:20px;
  margin:40px;
  line-height: 1.5;
}

li.a::before{
  content: "📌 ";
}

/*===============FOOTER=====================*/

footer {
  text-align: center;
  padding: 40px;
  background-color: white;
  color: white;
}


/*===============TITLE=====================*/
.title{
  padding: 50px;
  margin: 10px;
  color: rgb(211, 204, 204);
  font-size: 45px;
}

.title-sub{
  color: rgb(211, 204, 204);
  font-size: 18px;
}

/*===============BLINKING ANIMATION=====================*/
.blink {
  animation: blink 1s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*===============BIO=====================*/
.bio{
  font-size:16px;
  font-weight: Normal;
  text-align: justify;
  
}

/*collapsible*/

.collapsible {
  background-color: rgb(211, 204, 204);
  color: rgb(0, 0, 0);
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  border-radius: 12px;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.content {
  display: none;
  overflow: hidden;
}

/*image gallery*/
div.gallery {
    border: 1px solid #ccc;
  }
  
div.gallery:hover {
    border: 1px solid #777;
  }
  
div.gallery img {
    width: 100%;
    height: auto;
  }
  
div.desc {
    padding: 10px;
    background-color: black;
    color: white;
    font-style: italic;
  }
  
* {
    box-sizing: border-box;
  }
  
.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
  }
  
@media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
  }
  
@media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
  }
  
.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }
