:root{
  --title-mark: rgb(255, 242, 175);
  --font-color: rgb(0,0,0);
  --title-color:rgb(0,0,0);
  --title-sub-color:rgb(0,0,0);
  --menu-box: rgb(255, 255, 255);
  --page-background: rgb(255,255,255);
 
}

.mark_text{
  background-color: var(--title-mark);
}

.filter-green{
  /*filter: invert(100%) sepia(1%) saturate(4993%) hue-rotate(301deg) brightness(81%) contrast(104%);*/
  color: white;
  top: .05em;
  position: relative;
}
* {
  box-sizing: border-box;
}

body {
  color: var(--font-color);
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

/*===============BLOG=====================*/

body {
  font-family: 'Courier New', Courier, monospace;
  padding: 17px;
  background: var(--page-background);
}

/* Header/Blog Title */
.header {
  padding: 30px;
  font-size: 40px;
  text-align: center;
  background: white;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
  float: left;
  width: 75%;
}
.icon img {
  object-fit: cover;
  width: 100%;
}

.info  {
  display: block;
  overflow:hidden;
  width: 100%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}

/* Add a card effect for articles */
.card {
  display: flex;
  column-gap: 1px;
  align-items: left;
  
  background-color: var(--menu-box);
  padding: 10px;
  margin-top: 10px;

  border-radius: 12px;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  box-shadow: 1px 2px 2px black;
}
.card > * {
    width:50%;
    padding:1rem;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }
}

/*===============PARALLAX=====================*/

.parallax {
  /* The image used */
  
  /*border-radius: 12px;*/

  /* Set a specific height */
  min-height: 600px; 
  
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
 
}

/*===============MENU=====================*/

html {
  scroll-behavior: smooth;
}

.topnav {
  overflow: hidden;
  background-color: var(--menu-box);
 /* border-radius: 12px;*/
}

.topnav a {
  float: left;
  color: var(--font-color);
  font-weight: bold;
  text-align: center;
  padding: 14px 15px;
  text-decoration: none;
  font-size: 18px;
}

.topnav a:hover {
  color: rgb(0, 0, 0);
  border-radius: 12px;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  padding: 10px;
  box-shadow: 1px 2px 2px black;
  
}

.topnav a.active {
  background-color:white;
  color: black;
}
/*===============A=====================*/
.titles{
  background-color: var(--title-mark);
  border-radius: 12px;
}
.list{
  background-color: var(--menu-box);
  font-size:19px;
}
ul {
  list-style-type: none;
  padding:20px;
  margin:40px;
  line-height: 1.5;
}

li.a::before{
  content: "📌 ";
}

/*===============FOOTER=====================*/

footer {
  text-align: center;
  padding: 40px;
  background-color: white;
  color: white;
}

/*===============TITLE=====================*/
.title{
  background: #ffffff9d; 
  max-width: 500px;
  padding: 50px;
  margin: 50px;
  color: var(--title-color);
  letter-spacing: 1.7px;
  font-size: 45px;
  
  border-radius: 12px;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  box-shadow: 1px 2px 2px black;
}

.title-sub{
  color: var(--title-sub-color);
  font-size: 18px;
}

/*===============BLINKING ANIMATION=====================*/
.blink {
  animation: blink 1s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*===============BIO=====================*/
.bio{
  font-size:16px;
  font-weight: Normal;
  text-align: justify;
  
}

/*collapsible*/

.collapsible {
  background-color: rgb(211, 204, 204);
  color: rgb(0, 0, 0);
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  border-radius: 12px;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.content {
  display: none;
  overflow: hidden;
}

/*image gallery*/
div.gallery {
    border: 1px solid #ccc;
  }
  
div.gallery:hover {
    border: 1px solid #777;
  }
  
div.gallery img {
    width: 100%;
    height: auto;
  }
  
div.desc {
    padding: 10px;
    background-color: var(--title-mark);
    color: var(--font-color);
    font-style: italic;
    font-size: 12px;
  }
  
* {
    box-sizing: border-box;
  }
  
.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
  }
  
@media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
  }
  
@media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
  }
  
.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }


  mark {
    background: rgb(255, 176, 0)!important;
  }

/* unvisited link */
a:link {
  color:black;
}

/* visited link */
a:visited {
  color: black;
}



